**/.DS_Store
Example/test_real_fix.ipynb
Example/test_exampler.ipynb
Example/*.png
src/depreated
data/Adult_BrainCortex
data/all_simulations
data/ASAP-PBMC
data/CellLineMixture
data/simulated
data/snare-seq
data/snare-seq-500
data/BMMC
test/results_acc
test/results_acc_anchor
test/results_acc_nopreprocessing
test/results_acc_anchor_nopreprocessing
test/results_hyperparams
test/test_runtime*
test/*.job
test/*.err
test/*.out
test/test_snare_l2.*
test/results_snare
test/test_MMD_MA
**/__pycache__
